.contributor {
    display: inline-block;
    margin: 10px;
}
.contributor img {
    max-width: 60px;
    border-radius: 50%;
    max-height: 60px;
}

.Constributer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: whitesmoke;
    width: 100%;

    }

h4{
    margin-left: 20px;
    margin-bottom: 0px;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.container h3{
   text-align: center;
   text-decoration: underline;
}
.container{
    justify-content: center;
}

.todo-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    grid-gap: 10px;
}

.addBtn, .deltBtn{
    background-color: darkgreen;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.deltBtn{
    background-color: darkred;
}
:hover.addBtn{
    background-color: rgb(2, 76, 2);
}
:hover.deltBtn{
    background-color: rgb(106, 2, 2);
}
input{
    padding: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.container{    
    display: grid;
    width: 100%;
}
.input-date,.innput-name{
    height: 26px;
    border-radius: 5px ;
}

